<html>
  <head>
    <title>Sudoku Game</title>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/wAAAA0MDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREQAAEAABAAARAAAQAAEAABEAABAAAQAAEQAAEAABAAAREREREREREREAABAAAQAAEQAAEAIBAAARAAAQAgEAABEAABAAAQAAERERERERERERAAAQAAEAABECIBAAAQAAEQIgEAABAiARAAAQAAEAABEREREREREREAAAAAe94AAHveAAB73gAAe94AAAAAAAB73gAAe14AAHteAAB73gAAAAAAAHveAABL3gAAS9IAAHveAAAAAAAA" rel="icon" type="image/x-icon" />
    <!-- link to the CSS stylesheet -->
    <link href="/stylesheets/application.css"
    rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Life is too short for playing Sudoku</h1>
    <%= yield %>
  </body>
</html>
