#sudoku { /* '#' means it is an id attribute, not a class */
  font-size: 0;
  text-align: center;
}

body {
  text-align: center;
  background-color: #FFCCFF;
  font-family: Arial;
}

div.box {
  display: inline-block;
  border: 1px solid black;
}

div.cell {
  display: inline-block;
}

.cell input { /* no dot in front of element name means it is a tag, not a class */
  width: 30px;
  height: 30px;
}

.incorrect {
  background-color: yellow;
}

.value-provided {
  background-color: #DDD;
}

#flash {
  margin: 20px;
}
