#sudoku { /* '#' means it is an id attribute, not a class */
  font-size: 0;
  text-align: center;
}

body {
  text-align: center;
  background-color: #FFCCFF;
  font-family: Arial;
  font-size: 30px
}

div.box {
  margin: 1px;
  display: inline-block;
  border: 2px solid blue;
}

div.cell {
  display: inline-block;
}

.cell input { /* no dot in front of element name means it is a tag, not a class */
  border: 1px solid blue;
  background-color: #FFCDDF;
  font-size: 30px ;
  text-align: center;
  width: 60px;
  height: 60px;

}

.incorrect {
  background-color: yellow;
}

.value-provided {
  background-color: #DDD;
}

#flash {
  margin: 20px;
}

button {
  background-color: #A3E1D8;
  color: blue;
  font-size: 20px;
  border-radius:25px;
}
